html
  body
    h3(style='color:#468BE8') Change Password
    hr(style=' color: #666; background-color: #FFF; border: 1px dashed black; border-style: none none dashed;')
    br
    div(ng-controller='changepassword')
      div(ng-show="error", class="alert alert-danger alert-dismissable")
        button(type="button", class="close",data-dismiss="alert",aria-hidden="true") &times;
        p {{errorMessage}}
      div(ng-show="success", class="alert alert-danger alert-dismissable")
        button(type="button", class="close",data-dismiss="alert",aria-hidden="true") &times;
        p {{successMessage}}
      form.search-box(validate)
        table(style='width:100%;')
          tr
            td(style='padding:15px; text-align:center;') Current Password
            td(style='padding:15px; ')
              input(type='password', ng-model='formData.current_password', name='current_password', value='')
          tr
            td(style='padding:15px; text-align:center;') New Password
            td(style='padding:15px;')
              input(type='password',ng-model='formData.new_password', name='new_password', value='')
          tr
            td(style='padding:15px; text-align:center;') Confirm Password
            td(style='padding:15px;')
              input(type='password',ng-model='formData.confirm_password', name='confirm_password', value='')
        div(align='center')
          button.btn.btn-default(ng-click='changepassword()') Change Password
